.page-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-container {
    display: grid;
    grid-template-columns: clamp(250px, 25%, 300px) 5fr;
    grid-template-rows: 160px 1fr;
    grid-template-areas: "sidebar header"
    "sidebar main-content";
    height: 100vh;
}

/* HEADER STYLES */

.header {
    grid-area: header;
    background-color: #EFF5F5;
    display: grid;
    grid-template-rows: 75px 75px;
}

.search-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 75px 75px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.search-bar {
    display: grid;
    grid-template-columns: min-content min(450px, 75%);
    align-items: center;
}

.user-logos {
    display: grid;
    grid-template-columns: auto auto max-content;
    align-items: center;
    justify-content: end;
}

.search-bar img {
    height: 25px;
    padding-top: 4px;
    margin-left: 20px;
}
.search-bar button {
    background-color: #EFF5F5;
    border: none;
}
.user-logos img {
    height: 40px;
    margin: 5px 12px 5px 12px;

}

#alert-icon {
    height: 25px;
}

.header input {
    height: 1.4rem;
    border-width: 1px;
    border-radius: 10px;
    padding-left: .5rem;
}

.header h3 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-right: 40px;
    margin-left: 12px;
}

.user-menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.user-menu img{
    width: 70px;
    margin-left: 20px;
}

.user-greeting {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 35px 35px;
    grid-template-areas: "image hi" 
    "image user";
}

.large-profile-image {
    grid-area: image;

}

.hi-there {
    grid-area: hi;
    font-size: .9rem;
    align-self: end;
    margin-bottom: 4px;
}

.user-data {
    grid-area: user;
    font-size: 1.3rem;
}


.header-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.header-buttons button {
    background-color: #497174;
    color: white;
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    border: none;
    font-weight: 600;

}

.header-buttons>:last-child {
    margin-right: 40px;

}


/* SIDEBAR STYLES */

.sidebar {
    grid-area: sidebar;
    background-color: #497174;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 330px 175px;
    color: white;

}

li>img {
    margin-right: .8rem;
    width: 1.2 rem;
}

h2>img {
    margin-right: .8rem;
}

.sidebar li,
.sidebar h2 {
    margin: 1.5rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.sidebar h2 {
    font-size: 1.5rem;
}



/* MAIN CONTENT STYLES */

.main-content {
    grid-area: main-content;
    background-color: #D6E4E5;
    grid-template-rows: 40px auto;
    grid-template-columns: 3fr 1fr;
    display: grid;
}

.main-content h3 {
    padding-top: 25px;
    font-size: 1.1rem;
    margin-left: 5px;
    font-weight: 500;
}

#projects-title {
    padding-left: 20px;
}

.task-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-top: 15px;
    grid-auto-rows: max-content;
}

.task-card {
    background: linear-gradient(90deg, #ff9578 3%, white 0%);
    width: auto;
    height: 225px;
    border-radius: 20px;
    padding: 28px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgb(102, 102, 102);
    display: grid;
    grid-template-rows: 2rem 1fr 30px;
}

.social-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 55px 300px;
    padding: 20px;
    padding-left: 0px;
    padding-top: 15px;
}


.trending,
.announcements {
    background-color: white;
    width: 225px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(102, 102, 102);

}

.main-content h4 {
    font-size: 1.2rem;
}

.main-content p {
    font-size: 1rem;
    font-weight: 400;
}

.card-footer img {
    width: 20px;
    padding-left: 15px;
    padding-top: 13px;
}

.card-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}